.row {
  width: 99vw;
}
body {
  padding-top: 82px;
}
div.container {
  min-height: 25vh;
}
.navbar-light .navbar-nav .nav-link {
  color: #99ceff;
}
.navbar-light .navbar-nav .active > .nav-link {
  color: white;
  cursor: inherit;
}
.fa {
  color: white;
}
.nav-link img {
  height: 8vh;
}
.display-3 {
  font-size: 5vh;
}
.display-4 {
  font-size: 4vh;
}
.col-12 img {
  height: 18vh;
}
.table-sm img {
  height: 7vh;
}
.news:nth-child(2) {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.news:nth-last-child(2) {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
figure {
  border-right: 2px solid #e6e6e6;
  border-top: 2px solid #e6e6e6;
  height: 1.3rem;
  width: 1.3rem;
}
.left {
  margin-right: -10px;
  position: relative;
  top: 1px;
  transform: rotate(225deg);
}
.right {
  margin-left: -10px;
  position: relative;
  top: 1px;
  transform: rotate(45deg);
}
strong {
  font-size: 3vh;
}
form {
  color: #005580;
}
form img {
  height: 20%;
}
.btn {
  background-color: #999999;
}
h6 {
  font-size: 2.2vh;
}
.resend {
  transform: scale(-1, 1);
}
